i<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- 
    Utilizamos *ngFor para leer los items de una lista que se leen de un array de objetos JSON definidos en el fichero .ts
  -->
    <ion-item *ngFor="let item2 of gestionNoticias.getListaNoticias()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{item2.author}}</ion-card-title>
          <ion-card-subtitle>{{item2.title}}</ion-card-subtitle>
        </ion-card-header>
        <img [src]="item2.urlToImage"/>
        <ion-card-content>
          <p>{{item2.description}}</p>
        </ion-card-content>
        <ion-item>
          <ion-label><a [href]="item2.url">Leer</a></ion-label>
          <!-- 
            creamos una función alert que se cree al pulsar el icono de la basura
          -->
          <ion-button fill="clear" (click)="presentAlert(item2)">
            <ion-icon slot="end"  name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>